<ion-view view-title="About Loyola">
    <ion-content>
       
        <h1 class="abt">Welcome</h1>

        <p>As the oldest continuously run educational institution in Southern California, Loyola High School remains committed to providing a rigorous college-preparatory education to a diverse group of young men who leave the school prepared for lives of leadership and service to their community.</p>

        <h1 class="abt">Our Vision, Mission and Core Values</h1>
        
        <h2 class="abt">Vision</h2>

        <p>Loyola High School of Los Angeles will continue to be recognized as a premier Catholic Jesuit learning community for the twenty-first century; preparing young men to create a world of justice, peace, truth, and love.</p>

        <h2 class="abt">Mission</h2>

        <p>Loyola High School of Los Angeles, a Catholic Jesuit college preparatory school, inspires students to become men of faith, scholarship, service, and leadership.</p>

        <h2 class="abt">Core Values</h2>

        <p><b>Loyola’s core values include belief in and intentional effort toward imbuing:</b></p>

        <p><b>Faith</b> - Loyola exists to give students of all faiths a profound, life-changing experience of God’s unconditional love and a deeper understanding of themselves as persons of faith.</p>

        <p><b>Jesuit / Ignatian Spirituality</b> - Rooted in the Catholic faith, the Spiritual Exercises of St. Ignatius comprise the core of the Jesuit/Ignatian charism that focuses on loving service to one’s God and neighbor, in and through the discovery of one’s gifts and talents to be shared with the world.</p>

        <p><b>Formation of the Whole Person</b> - Cura Personalis, is a Latin phrase meaning “care for the person” that thoughtfully and intentionally integrates the fullness of human experience through the spiritual, intellectual, emotional, social, and physical development of our students during their four years at Loyola and beyond.</p>

        <p><b>A World Affirming Perspective</b> - Jesuit education includes a spiritual dimension, which sees creation as good, and promotes dialogue between faith and culture; fostering the capacity for critical and original thinking while appreciating the gifts of life.</p>

        <p><b>Diversity</b> - Loyola seeks to create and sustain a vibrant, inclusive community that reflects the expansive demographics and rich mixture of persons who live in Southern California.</p>

        <p><b>Scholarship</b> - Loyola builds a culture of lifelong learning and inquiry through a rigorous and innovative college preparatory curriculum.</p>

        <p><b>Service</b> - Informed by a faith that does justice, Loyola challenges our students to be “men for and with others;” to serve as Jesus did, by being in companionship with, and learning from, persons who are disenfranchised, marginalized and the most in need.</p>

        <p><b>Leadership</b> - Loyola develops young men who are intellectually distinguished, morally courageous, and compassionate in the service of becoming impactful “agents of change” for the world.</p>

        Loyola Vision, Mission, and Core Values

        
        <h1 class="abt">Our Philosophy</h1>

        <p>Loyola High School is a Jesuit college preparatory school for young men. It is named in honor of St. Ignatius of Loyola who founded the Jesuits in the sixteenth century.</p>

        <p>Located in central Los Angeles, Loyola, the city’s oldest high school, welcomes and is committed to educate and serve students from the greater Los Angeles area.</p>

        <p>In its racial, economic, and ethnic diversity, the Loyola community mirrors the diversity of this area. Loyola shares primarily in the educational mission of the Catholic Church as its highest priority, although we embrace and are enriched by students from other religious traditions.</p>

        <p>Loyola is founded on the vision of St. Ignatius as expressed in his Spiritual Exercises and on the tradition of the Jesuit system of education begun in 1548. It is a system based on the principles of discipline, order, the necessity of clear goals and objectives, the paramount importance of self-direction, and concern for the affective in learning.</p>

        <p>At the core of the Ignatian vision is faith in the Risen Lord Jesus, the uniquely Christian spirit of loving service to God and one’s neighbor, a service which does not count the cost or reward but is done in true love. This vision impels one to go outside oneself to find God in all things. Thus, Loyola teaches that the things of God are the bedrock of all learning, order, and method.</p>

        <p>Loyola’s students, parents, faculty, staff, and administrators strive to create a Christian community in which the Ignatian vision is planted, fostered, and nurtured. In this community young men are able to grow to a maturity consistent with their age as well as to a realization of their dignity, talents, and personal uniqueness. The Loyola community, then, conducts itself in an atmosphere of professional inquiry, mutual trust, respect for the individual, and Christian charity.</p>

        <p>Inspired by the Ignatian vision, the Loyola community sees in its youthful charges a teeming potential for goodness and, thus, makes every effort to engender a joyful enthusiasm and hunger for the discovery of justice, goodness, truth, and beauty as the students develop the capacities for independent, critical judgment and creative expression.</p>

        <p>Believing that God is active in all creation and in all human history, Loyola’s Jesuit educational program seeks to promote a dialogue between faith and culture. We encourage our students to experience and to come to know a variety of cultures and peoples, using a creatively critical eye to examine the contributions and deficiencies of each to develop a genuine appreciation of God’s presence and action within the entire human family.</p>

        <p>The Loyola community seeks to engender young men of action and to instill in them the wisdom which discerns between freedom of individual rights and privileges and the obligation to the common good. It strives to create an informed conscience and an informed intellect which can discern discreetly and speak with an opinion based on fact and experience.</p>

        <p>It is the Ignatian vision which commits Loyola to excellence in every endeavor and to the education and development of the whole man. Thus, Loyola challenges its students with an exceptional academic curriculum and provides premier athletic programs, religious experiences, co- curricular activities, and clubs. In this context young men prepare thoroughly for subsequent studies at the collegiate and graduate level.</p>

        <p>Finally, Loyola is committed to developing men who will put their beliefs and attitudes into practice throughout their entire lives. We intend to educate “men with and for others” who will take their place as leaders and agents of change in the local, national, and international civic and ecclesial communities. Their lives should make a positive difference for good, truth, and justice. We look for men who will respond to the call of Christ to be of service to the human community by their compassion, integrity, honesty, loyalty, religious devotion, and moral courage. Thereby, Loyola graduates will serve the faith, inspire hope in others, and love not just in words but in deeds.</p>

        <h2 class="abt">Prioritization of Goals and Objectives Derived from the Philosophy</h2>

        <p>The philosophy of Loyola High School defines a synergistic, three-fold mission: spiritual, academic, and co-curricular. Although each aspect is irreducibly distinct from the others, it is also dependently united to the three- fold mission. Thus, each aspect strengthens the whole, while remaining viably separate. Ultimately, the philosophy guides Loyola High School to prepare young men in conscience and intellect, through wisdom and action, to become “men with and for others,” who serve unselfishly in order that the universal goals of goodness, truth, and justice may be shared by the whole human family.</p>

        <p>Loyola High School defines itself as “Jesuit College Preparatory.” It is this initial Jesuit emphasis which serves as the preeminent aspect of the school’s philosophy. At the base of the three-fold mission is our spiritual foundation, rooted in the faith of the Risen Lord Jesus, which guides all to serve God and humanity. Thus the Christian community of Loyola’s students, parents, faculty, staff, and administrators gives witness to the Ignatian vision of spirituality that evolves into action. The spiritual mission awakens the conscience and guides the intellect for all to be of service to God and others.</p>

        <p>Next in importance, but dependent on the whole for its integrity, is the academic mission of Loyola High School. As the spiritual mission defines what is just, good, and true, the academic mission develops the ability of the student to create action from such knowledge. An informed intellect enables the student to encounter the problems, choices, and challenges of the modern world. Thus, his ability to make decisions, foster changes, and define the limits that lead to the common good evolves from his spiritual awareness of the unique role for which he has been educated. Excellence of the mind in union with an awakened conscience enables the student to fulfill his potential as a “man with and for others.”</p>

        <p>The final aspect of the triad of the mission is the co- curricular component. Through a variety of athletics and activities, the student learns to translate his personal visions, goals, and desires into action to benefit himself and others. Courage of self develops when the student’s actions are visible and evaluative. Thus, his endeavors are viable, rooted in his conscience to become evident and nourished by his developed abilities. The “man with and for others” is the result of a three-fold mission of spiritual, academic, and co-curricular goals and objectives. Inspired by his awakened conscience, trained by his developed intellect, and armed by his courage of self, he is prepared to serve others with goodness, truth, and justice.</p>

       <h1 class="abt">School Profile</h1>

        <p><b>Type of School:</b> Loyola High School of Los Angeles, founded in 1865, is an all-male, four-year, Catholic college preparatory school conducted by the Society of Jesus (Jesuits).  Typically, 99% of the graduates go directly to higher education, 96% to four-year colleges.  Current enrollment is 1248 including a senior class of 311.</p>

        <p><b>Faculty:</b> Loyola's 114 faculty members and administrative staff all hold professional degrees.  The staff includes six faculty members at the doctoral level and 79 at the master's level.</p>

        <p><b>Accreditation and Memberships:</b> Western Association of Schools and Colleges, Western Catholic Educational Association, Jesuit Secondary Education Association, National Catholic Education Association, the College Board, the Cum Laude Society, NACAC, WACAC.</p>

        <p><b>School Community:</b> Loyola is located in central Los Angeles and draws students from every area in the city and suburbs.  Admission is by entrance examination, recommendations, and elementary school grades.  Typically, 135 elementary schools, public and private, are represented in a freshman class drawn from an applicant pool representing over 240 schools.  Approximately 45% of those who apply are enrolled.  Loyola's tuition is $18,700 in 2015-16.  The Jesuit faculty contribution, endowment, financial aid, and fund-raising programs enable Loyola to attract students from a wide variety of economic and social backgrounds.  Some 47% of the students are Latino, African-American, Asian, or Filipino.  Loyola's community is distinguished and enriched by its wide social, economic, and ethnic diversity.</p>

        <p><b>Curriculum:</b> The basic program required of all students includes eight semesters of English; seven of social science; six semesters each of mathematics, foreign language, science, and theology; and two semesters of fine arts.  135 hours of community service are required (50 hours in the sophomore and junior years plus an 85-hour immersion program in the senior year).</p>

    </ion-content>
</ion-view>