<ion-view view-title="About Loyola Hub">
    <ion-content>
      <div>
        <h1>Loyola Hub</h1>
        <h2>V. 1.2.0</h2>
        <h2 style="text-align:center">Programmed and designed by<br />Chess Myers '18</h2>
        <p>Any collected personal information is used for the purposes of this application only.<br />No user data will be shared with any third-party.</p>
          <br /><h3 style="text-align:center">Special Thanks To:</h3>
          <p>Mr. Terence Stephenson</p>
          <p>Loyalist Team for amazing articles</p>
          <p>Etienne Lunetta</p>
          <p>Quote of the Day from Bill Murphy, Jr. <a href="#" style="text-decoration:none;">http://366quotes.instapage.com/</a></p>
      </div>
    </ion-content>
</ion-view>