<ion-view view-title="Loyola Hub">
  <ion-content>
    <div class = "list card padding">
      <center>
      <h1 style = center >Cub Tools</h1>
    </center>
      <button class="button button-block button-balanced padding">
        Loyola GPA Calculator
      </button>
      <button class="button button-block button-assertive padding ">
        Canvas
      </button>
      <button class="button button-block button-positive padding">
        QPortal
      </button>
      <button class="button button-block button-dark padding">
        Calandar
      </button>
      <button class="button button-block button-energized padding">
        Bell Schedule
      </button>
      <button class="button button-block button-calm padding">
        Ouick Links
      </button>
      <br />
    </div>

  </ion-content>

  <div class="tabs tabs-icon-top">
    <a class="tab-item">
        <i class="icon ion-ios-paper"></i>
        Loyalist
    </a>
    <a class="tab-item">
        <i class="icon ion-settings"></i>
        Cub Tools
    </a>
    <a class="tab-item">
        <i class="icon ion-chatbubbles"></i>
        Loyola Chat
    </a>
  </div>
</ion-view>
