<ion-view view-title="Help and Feedback">
    <ion-content>
        <div class="card" style="margin-top:25%;">
            <h3 style="text-align:center">Leave a Rating</h3>
            <p>Please visit the <a href="#" ng-click="sendmail(3)" style="text-decoration:none;">Loyola Hub Store Page</a> to review this app.</p>
        </div>
        <div class="card">
            <h3 style="text-align:center">Questions and Concerns</h3>
            <p>For any questions or concerns regarding usage of this app , please contact Mr. Stephenson at <a href="#" ng-click="sendmail(1)" style="text-decoration:none;">helpdesk@loyolahs.edu</a></p>
            </div>
        <div class="card">
            <h3 style="text-align:center">Feedback and Suggestions</h3>
            <p>To report any technical issues with this app or suggest ideas for future updates, please contact Chess Myers '18 at <a href="#" ng-click="sendmail(2)" style="text-decoration:none;">christophermyers@lhsla.org</a></p>
        </div>
</ion-content>
</ion-view>