<ion-view view-title="Cub Guide">
    <ion-content>
        <div class="list card">

            <a href="#/app/impfiles" class="item item-icon-left item-icon-right item-stable">
                <i class="icon ion-document-text"></i>
                Important Files
                <i class="icon ion-ios-arrow-right"></i>                
            </a>

            <a href="#/app/map" class="item item-icon-left item-icon-right item-loyola">
                <i class="icon ion-map"></i>
                School Map
                <i class="icon ion-ios-arrow-right"></i>   
            </a>

            <a href="#/app/quote" class="item item-icon-left item-icon-right item-stable">
                <i class="icon ion-chatbubble"></i>
                Quote of the Day
                <i class="icon ion-ios-arrow-right"></i>
            </a>

            <a href="#/app/staffdir" class="item item-icon-left item-icon-right item-loyola">
                <i class="icon ion-person-stalker"></i>
                Teacher Directory
                <i class="icon ion-ios-arrow-right"></i>
            </a>

            <a href="#/app/aboutschool" class="item item-icon-left item-icon-right item-stable">
                <i class="icon ion-information"></i>
                About School
                <i class="icon ion-ios-arrow-right"></i>
            </a>
            
        </div>
</ion-content>
</ion-view>
