<ion-view view-title="Loyola Guide">
    <ion-content>
        <div class="list card">

            <a href="#" class="item item-icon-left item-icon-right">
                <i class="icon ion-ios-bookmarks"></i>
                Loyola Handbook
                <i class="icon ion-ios-arrow-right"></i>                
            </a>

            <a href="#" class="item item-icon-left item-icon-right">
                <i class="icon ion-map"></i>
                Loyola Map
                <i class="icon ion-ios-arrow-right"></i>   
            </a>

            <a href="#" class="item item-icon-left item-icon-right">
                <i class="icon ion-information"></i>
                About School
                <i class="icon ion-ios-arrow-right"></i>
            </a>
        </div>
</ion-content>
</ion-view>
