<ion-view view-title="Cub Tools">
    
    <ion-content>
        
   <!--    <ion-side-menus>    -->
            
            <!--Middle Content-->
      <!--      <ion-side-menu-content>
                <ion-content has-bouncing="true" overflow-scroll="true">     -->
                
                <div class="list card padding" >    
                    
                    <a class="button button-block button-royal padding" href="" ng-click="openann()">
                        Daily Announcements
                    </a>
                    <a class="button button-block button-dark padding" href="#/app/calendar">
                        Calendar
                    </a>
                    <a class="button button-block button-energized padding" href="#/app/bells">
                        Bell Schedule
                    </a>
                    <a class="button button-block button-assertive padding" href="" ng-click="opencanvas()">
                        Canvas
                    </a>
                    <a class="button button-block button-positive padding" href="" ng-click="openq()">
                        QPortal
                    </a>
                    <a class="button button-block button-balanced padding" href="#/app/gpa">
                        GPA Calculator
                    </a>
                    <a class="button button-block button-salmon padding" href="#/app/tasks">
                        Task Manager
                    </a>
                    <a class="button button-block button-calm padding" href="#/app/morepage">
                        More
                    </a>                 
                </div>       
     <!--       </ion-content>
            </ion-side-menu-content>       -->

            <!-- Right menu -->
   <!--         <ion-side-menu side="right">
         
                <ion-content>
                    <div ng-controller="MainController">
                        <div class="linkdiv">
                            <button class="button icon ion-email button-stable links" ng-click="sendmail()"></button>
                            <h4>Email</h4>
                        </div>

                        <div class="linkdiv">
                            <button class="button icon ion-ios-telephone button-balanced links" ng-click="dialcall()"></button>
                            <h4>Call</h4>
                        </div>

                        <div class="linkdiv" ng-click="naviance()">
                            <a class="button icon ion-ios-star button-balanced links" style="background-color:lightsalmon;"></a>
                            <h4>Naviance</h4>
                        </div>

                        <div class="linkdiv" ng-click="cubcash()">
                            <button class="button icon ion-social-usd button-royal links"></button>
                            <h4>Cub Cash</h4>
                        </div>

                        <div class="linkdiv">
                            <a class="button icon ion-ios-navigate-outline button-balanced links" href="" style="background-color:yellowgreen" ng-click="openmap()"></a>
                            <h4>Directions</h4>
                        </div>

                        <div class="linkdiv" ng-click="youtube()">
                            <button class="button icon ion-social-youtube button-assertive links"></button>
                            <h4>Youtube</h4>
                        </div>

                        <div class="linkdiv" ng-click="instagram()">
                            <button class="button icon ion-social-instagram button-energized links"></button>
                            <h4>Instagram</h4>
                        </div>

                        <div class="linkdiv" ng-click="twitter()">
                            <button class="button icon ion-social-twitter button-calm links"></button>
                            <h4>Twitter</h4>
                        </div>

                        <div class="linkdiv" ng-click="facebook()">
                            <button class="button icon ion-social-facebook button-positive links"></button>
                            <h4>Facebook</h4>
                        </div>

                        <div class="linkdiv" ng-click="website()">
                            <button class="button icon ion-earth button-dark links"></button>
                            <h4>Website</h4>
                        </div>
                    </div>
                </ion-content>
            </ion-side-menu>            -->             

  <!--      </ion-side-menus>   -->


    </ion-content>
</ion-view>