<ion-view view-title="More">
    <ion-content>
        
        <div class="card">
            <div class="linkdiv">
                <button class="button icon ion-email button-stable links" ng-click="sendmail(0)"></button>
                <h4 class="linkh4">Email</h4>
            </div>

            <div class="linkdiv">
                <button class="button icon ion-ios-telephone button-balanced links" ng-click="dialcall()"></button>
                <h4 class="linkh4">Call</h4>
            </div>

            <div class="linkdiv" ng-click="naviance()">
                <a class="button icon ion-ios-star button-balanced links" style="background-color:lightsalmon;"></a>
                <h4 class="linkh4">Naviance</h4>
            </div>

            <div class="linkdiv" ng-click="cubcash()">
                <button class="button icon ion-social-usd button-royal links"></button>
                <h4 class="linkh4">Cub Cash</h4>
            </div>

            <div class="linkdiv">
                <a class="button icon ion-ios-navigate-outline button-balanced links" href="" style="background-color:yellowgreen" ng-click="openmap()"></a>
                <h4 class="linkh4">Directions</h4>
            </div>

            <div class="linkdiv" ng-click="youtube()">
                <button class="button icon ion-social-youtube button-assertive links"></button>
                <h4 class="linkh4">Youtube</h4>
            </div>

            <div class="linkdiv" ng-click="instagram()">
                <button class="button icon ion-social-instagram button-energized links"></button>
                <h4 class="linkh4">Instagram</h4>
            </div>

            <div class="linkdiv" ng-click="twitter()">
                <button class="button icon ion-social-twitter button-calm links"></button>
                <h4 class="linkh4">Twitter</h4>
            </div>

            <div class="linkdiv" ng-click="facebook()">
                <button class="button icon ion-social-facebook button-positive links"></button>
                <h4 class="linkh4">Facebook</h4>
            </div>

            <div class="linkdiv" ng-click="website()">
                <button class="button icon ion-earth button-dark links"></button>
                <h4 class="linkh4">Website</h4>
            </div>
        </div>

    </ion-content>
</ion-view>