<ion-view view-title="Cub News">

    <div class="tabs-striped tabs-top tabs-background-loyola tabs-color-light" style="margin-top:-{{topbord2}}px;">
        <div class="tabs">
            <a class="tab-item" href="#/app/loyalist">
                News Feed
            </a>
            <a class="tab-item active" href="#">
                Loyalist
            </a>
        </div>
    </div>

    <ion-header-bar class="bar-loyola" style="margin-top:{{topbord3}}px; height:44px;">

        <table style="width:100%; margin-top:0px;">
            <tr>
                <td>  <button ng-click="switchNews('N')" class="button button-small {{newsbut1}} newsbut">News</button>  </td>
                <td>  <button ng-click="switchNews('A')" class="button button-small {{newsbut2}} newsbut">A&E</button>  </td>
                <td>  <button ng-click="switchNews('O')" class="button button-small {{newsbut3}} newsbut">Opinion</button>  </td>
                <td>  <button ng-click="switchNews('F')" class="button button-small {{newsbut4}} newsbut">Feature</button>  </td>
                <td>  <button ng-click="switchNews('S')" class="button button-small {{newsbut5}} newsbut">Sports</button>  </td>
            </tr>
        </table>
    </ion-header-bar>

    <ion-content has-tabs ng-init="setNews()">

        <div style="margin-top: {{topbord4}}px;">
            <ion-list>
                <ion-item ng-repeat="item in newsSrc" item="item" href="#" ng-click="openNews(item.URL)" class="item-thumbnail-left item-text-wrap">
                    <img src="{{item.Pic}}" />

                    {{ item.Title }}

                    <h3>By {{ item.Author }}</h3>

                </ion-item>
            </ion-list>
        </div>




        <!--
        <ion-side-menu side="left">
            <ion-content class="adjust2">

                <div class="list">

                    <div class="item item-divider">
                    </div>

                    <a class="item item-icon-left" href="#" menu-close>
                        <i class="icon ion-close"></i>
                        Close
                    </a>

                    <div class="item item-divider">
                    </div>

                    <a class="item item-icon-left" href="#" ng-click="switchNews('N')" menu-close>
                        <i class="icon ion-ios-circle-filled" ng-show="showDot0"></i>
                        News
                    </a>
                    <a class="item item-icon-left" href="#" ng-click="switchNews('A')" menu-close>
                        <i class="icon ion-ios-circle-filled" ng-show="showDot1"></i>
                        A &amp; E
                    </a>
                    <a class="item item-icon-left" href="#" ng-click="switchNews('O')" menu-close>
                        <i class="icon ion-ios-circle-filled" ng-show="showDot2"></i>
                        Opinion
                    </a>
                    <a class="item item-icon-left" href="#" ng-click="switchNews('F')" menu-close>
                        <i class="icon ion-ios-circle-filled" ng-show="showDot3"></i>
                        Feature
                    </a>
                    <a class="item item-icon-left" href="#" ng-click="switchNews('S')" menu-close>
                        <i class="icon ion-ios-circle-filled" ng-show="showDot4"></i>
                        Sports
                    </a>

                </div>

            </ion-content>
        </ion-side-menu>
            -->



    </ion-content>
</ion-view>
