<ion-view view-title="App Settings">
    <ion-content>
        <div class="list card">

            <div class="item item-divider item-royal">
                Options
            </div>

            <a class="item item-icon-left" href="#/app/profile">
                <i class="icon ion-person"></i>
                Your Profile
            </a>

            <a class="item item-icon-left" href="#/app/settings">
                <i class="icon ion-gear-a"></i>
                App Settings
            </a>

            <div class="item item-divider item-balanced">
                Other
            </div>
            <a class="item item-icon-left" href="#/app/legal">
                <i class="icon ion-alert-circled"></i>
                Help and Feedback
            </a>

            <a class="item item-icon-left" href="#/app/appinfo">
                <i class="icon ion-information-circled"></i>
                About App
            </a>

        </div>
    </ion-content>
</ion-view>