<ion-view view-title="Teacher Directory">
    <ion-content>
        
        <div class="list">
            

            <div class="row">
                <div class="col"><b>Name</b></div>
                <div class="col"><b>Role</b></div>
                <div class="col"><b>Email</b></div>
                <div class="col"><b>Phone ext.</b></div>
            </div>

            <!-- Activities -->
            <div class="item item-divider biggerhead">
                Activities
            </div>
           
            <div class="row">
                <div class="col col-25">Chris Walter '93</div>
                <div class="col col-25">Director</div>
                <div class="col col-25">cwalter@loyolahs.edu</div>
                <div class="col col-25">1515</div>
            </div>
            <div class="row">
                <div class="col col-25">Pat Salvaty</div>
                <div class="col col-25">Administrative Assistant</div>
                <div class="col col-25">psalvaty@loyolahs.edu</div>
                <div class="col col-25">1514</div>
            </div>

            <!-- Administration -->
            <div class="item item-divider biggerhead">
                Administration
            </div>
            <div class="row">
                <div class="col col-25">Rev. Gregory M. Goethals, S.J.</div>
                <div class="col col-25">President</div>
                <div class="col col-25">ggoethals@loyolahs.edu</div>
                <div class="col col-25">1300</div>
            </div>
            <div class="row">
                <div class="col col-25">Frank Kozakowski</div>
                <div class="col col-25">Principal</div>
                <div class="col col-25">fkozakowski@loyolahs.edu</div>
                <div class="col col-25">1203</div>
            </div>
            <div class="row">
                <div class="col col-25">Lela Diaz</div>
                <div class="col col-25">Executive Director of Advancement</div>
                <div class="col col-25">ldiaz@loyolahs.edu</div>
                <div class="col col-25">1303</div>
            </div>
            <div class="row">
                <div class="col col-25">Jim Rich</div>
                <div class="col col-25">Chief Financial Officer</div>
                <div class="col col-25">jrich@loyolahs.edu</div>
                <div class="col col-25">1317</div>
            </div>
            <div class="row">
                <div class="col col-25">Andrey Aristov '80</div>
                <div class="col col-25">Assistant Principal for Curriculum and Scheduling</div>
                <div class="col col-25">aaristov@loyolahs.edu</div>
                <div class="col col-25">1303</div>
            </div>
            <div class="row">
                <div class="col col-25">Ann Holmquist</div>
                <div class="col col-25">Assistant Principal for Ministry</div>
                <div class="col col-25">aholmquist@loyolahs.edu</div>
                <div class="col col-25">1511</div>
            </div>
            <div class="row">
                <div class="col col-25">Paul Jordan '88</div>
                <div class="col col-25">Assistant Principal for Student Life</div>
                <div class="col col-25">pjordan@loyolahs.edu</div>
                <div class="col col-25">1513</div>
            </div>
            <div class="row">
                <div class="col col-25">Ricardo Pedroarias '84</div>
                <div class="col col-25">Assistant Principal for Supervision</div>
                <div class="col col-25">rpedroarias@loyolahs.edu</div>
                <div class="col col-25">1209</div>
            </div>
            <div class="row">
                <div class="col col-25">Dan Annarelli</div>
                <div class="col col-25">Dean of Men</div>
                <div class="col col-25">dannarelli@loyolahs.edu</div>
                <div class="col col-25">1210</div>
            </div>

            <!-- Admissions -->
            <div class="item item-divider biggerhead">
                Admissions
            </div>
            <div class="row">
                <div class="col col-25">Heath Utley</div>
                <div class="col col-25">Director</div>
                <div class="col col-25">hutley@loyolahs.edu</div>
                <div class="col col-25">1200</div>
            </div>
            <div class="row">
                <div class="col col-25">Matthew Baham</div>
                <div class="col col-25">Assistant Director</div>
                <div class="col col-25">mbaham@loyolahs.edu</div>
                <div class="col col-25">3005</div>
            </div>
            <div class="row">
                <div class="col col-25">Diane Arias</div>
                <div class="col col-25">Administrative Assistant</div>
                <div class="col col-25">darias@loyolahs.edu</div>
                <div class="col col-25">1202</div>
            </div>

            <!-- Adult Spirituality -->
            <div class="item item-divider biggerhead">
                Adult Spirituality
            </div>
            <div class="row">
                <div class="col col-25">Rev. Wayne R. Negrete, S.J.</div>
                <div class="col col-25">Co-Director</div>
                <div class="col col-25">wnegrete@loyolahs.edu</div>
                <div class="col col-25">1512</div>
            </div>
            <div class="row">
                <div class="col col-25">Ann Holmquist</div>
                <div class="col col-25">Co-Director</div>
                <div class="col col-25">aholmquist@loyolahs.edu</div>
                <div class="col col-25">1511</div>
            </div>﻿

            <!-- Advancement -->
            <div class="item item-divider biggerhead">
                Advancement
            </div>
            <div class="row">
                <div class="col col-25">Lela Diaz</div>
                <div class="col col-25">Executive Director for Advancement</div>
                <div class="col col-25">ldiaz@loyolahs.edu</div>
                <div class="col col-25">1303</div>
            </div>
            <div class="row">
                <div class="col col-25">Bill Slocum</div>
                <div class="col col-25">Senior Director for Advancement</div>
                <div class="col col-25">bslocum@loyolahs.edu</div>
                <div class="col col-25">1312</div>
            </div>
            <div class="row">
                <div class="col col-25">Bill Thomason</div>
                <div class="col col-25">Director for Advancement, Alumni Relations</div>
                <div class="col col-25">bthomason@loyolahs.edu</div>
                <div class="col col-25">1315</div>
            </div>
            <div class="row">
                <div class="col col-25">Alexy Coughlin</div>
                <div class="col col-25">Director for Advancement, Parent Giving</div>
                <div class="col col-25">acoughlin@loyolahs.edu</div>
                <div class="col col-25">1307</div>
            </div>
            <div class="row">
                <div class="col col-25">Lisa Abarta</div>
                <div class="col col-25">Executive Assistant to the Executive Director</div>
                <div class="col col-25">labarta@loyolahs.edu</div>
                <div class="col col-25">1304</div>
            </div>
            <div class="row">
                <div class="col col-25">Gloria Guerrero</div>
                <div class="col col-25">Advancement Database Coordinator</div>
                <div class="col col-25">gguerrero@loyolahs.edu</div>
                <div class="col col-25">1309</div>
            </div>
            <div class="row">
                <div class="col col-25">Katie Harding</div>
                <div class="col col-25">Advancement Administrative Assistant</div>
                <div class="col col-25">kharding@loyolahs.edu</div>
                <div class="col col-25">1310</div>
            </div>
            ﻿
            <!-- Arts -->
            <div class="item item-divider biggerhead">
                Arts
            </div>
            <div class="row">
                <div class="col col-25">Cristina Saggese</div>
                <div class="col col-25">Chair</div>
                <div class="col col-25">csaggese@loyolahs.edu</div>
                <div class="col col-25">3021</div>
            </div>
            <div class="row">
                <div class="col col-25">Michael Celenza</div>
                <div class="col col-25">Teacher</div>
                <div class="col col-25">mcelenza@loyolahs.edu</div>
                <div class="col col-25">3013</div>
            </div>
            <div class="row">
                <div class="col col-25">Jocelyn Grau</div>
                <div class="col col-25">Teacher</div>
                <div class="col col-25">jgrau@loyolahs.edu</div>
                <div class="col col-25">3085</div>
            </div>
            <div class="row">
                <div class="col col-25">Patricia Meyers</div>
                <div class="col col-25">Teacher</div>
                <div class="col col-25">pmeyers@loyolahs.edu</div>
                <div class="col col-25">3090</div>
            </div>
            <div class="row">
                <div class="col col-25">Rev. John Quinn, S.J.</div>
                <div class="col col-25">Teacher</div>
                <div class="col col-25">jquinn@loyolahs.edu</div>
                <div class="col col-25">3908</div>
            </div>
            <div class="row">
                <div class="col col-25">David Roberts</div>
                <div class="col col-25">Teacher</div>
                <div class="col col-25">droberts@loyolahs.edu</div>
                <div class="col col-25">3060</div>
            </div>
            <div class="row">
                <div class="col col-25">Steven Speciale</div>
                <div class="col col-25">Teacher</div>
                <div class="col col-25">sspeciale@loyolahs.edu</div>
                <div class="col col-25">3066</div>
            </div>
            <div class="row">
                <div class="col col-25">Walter Wolfe</div>
                <div class="col col-25">Teacher</div>
                <div class="col col-25">wwolfe@loyolahs.edu</div>
                <div class="col col-25">3076</div>
            </div>

            <!-- Athletics -->
            <div class="item item-divider biggerhead">
                Athletics
            </div>
            <div class="row">
                <div class="col col-25">Chris O'Donnell '88</div>
                <div class="col col-25">Athletic Director</div>
                <div class="col col-25">codonnel@loyolahs.edu</div>
                <div class="col col-25">1516</div>
            </div>
            <div class="row">
                <div class="col col-25">Cindy Cassutt</div>
                <div class="col col-25">Administrative Assistant</div>
                <div class="col col-25">ccassutt@loyolahs.edu</div>
                <div class="col col-25">1517</div>
            </div>
            <div class="row">
                <div class="col col-25">Judy Heinen</div>
                <div class="col col-25">Assistant to Head Football Coach</div>
                <div class="col col-25">jheinen@loyolahs.edu</div>
                <div class="col col-25">1610</div>
            </div>
            <div class="row">
                <div class="col col-25">Jorge Torres</div>
                <div class="col col-25">Equipment Manager</div>
                <div class="col col-25">jtorres@loyolahs.edu</div>
                <div class="col col-25">3095</div>
            </div>
            ﻿
            <!-- Business Affairs -->
            <div class="item item-divider biggerhead">
                Business Affairs
            </div>
            <div class="row">
                <div class="col col-25">Michael Boehle '84</div>
                <div class="col col-25">Director of Business Operations and Financial Aid</div>
                <div class="col col-25">mboehle@loyolahs.edu</div>
                <div class="col col-25">1318</div>
            </div>
            <div class="row">
                <div class="col col-25">Jim Rich</div>
                <div class="col col-25">Chief Financial Officer</div>
                <div class="col col-25">jrich@loyolahs.edu</div>
                <div class="col col-25">1317</div>
            </div>
            <div class="row">
                <div class="col col-25">Kerry Katz</div>
                <div class="col col-25">Director of Human Resources</div>
                <div class="col col-25">kkatz@loyolahs.edu</div>
                <div class="col col-25">1713</div>
            </div>
            <div class="row">
                <div class="col col-25">Kathryn Hansen</div>
                <div class="col col-25">Assistant Controller</div>
                <div class="col col-25">khansen@loyolahs.edu</div>
                <div class="col col-25">1319</div>
            </div>
            <div class="row">
                <div class="col col-25">Angelica Young</div>
                <div class="col col-25">Accounts Payable/Student Accounts Supervisor</div>
                <div class="col col-25">ayoung@loyolahs.edu</div>
                <div class="col col-25">1320</div>
            </div>
            ﻿
            <!-- Campus Ministry -->
            <div class="item item-divider biggerhead">
                Campus Ministry
            </div>
            <div class="row">
                <div class="col col-25">Matthew Schaeffer</div>
                <div class="col col-25">Co-Director</div>
                <div class="col col-25">mschaeffer@loyolahs.edu</div>
                <div class="col col-25">1702</div>
            </div>
            <div class="row">
                <div class="col col-25">Evelyn Jimenez</div>
                <div class="col col-25">Co-Director</div>
                <div class="col col-25">ejimenez@loyolahs.edu</div>
                <div class="col col-25">1701</div>
            </div>
            <div class="row">
                <div class="col col-25">Rev. Stephen Barber, S.J.</div>
                <div class="col col-25">Ministry, CPP</div>
                <div class="col col-25">sbarber@loyolahs.edu</div>
                <div class="col col-25">1500</div>
            </div>
            <div class="row">
                <div class="col col-25">F. Douglas Brown</div>
                <div class="col col-25"></div>
                <div class="col col-25">dbrown@loyolahs.edu</div>
                <div class="col col-25">3010</div>
            </div>

            <!-- Community Service -->
            <div class="item item-divider biggerhead">
                Community Service
            </div>
            <div class="row">
                <div class="col col-25">Thomas Zeko</div>
                <div class="col col-25">Director</div>
                <div class="col col-25">tzeko@loyolahs.edu</div>
                <div class="col col-25">1800</div>
            </div>
            <div class="row">
                <div class="col col-25">Angela Moran</div>
                <div class="col col-25">Assistant Director</div>
                <div class="col col-25">amoran@loyolahs.edu</div>
                <div class="col col-25">1801</div>
            </div>
            <div class="row">
                <div class="col col-25">Fr. Jerry Hudson, SJ</div>
                <div class="col col-25"></div>
                <div class="col col-25">jhudson@loyolahs.edu</div>
                <div class="col col-25">1806</div>
            </div>

            <!-- Counseling -->
            <div class="item item-divider biggerhead">
                Counseling
            </div>
            <div class="row">
                <div class="col col-25">Mr. Paul Jordan '88</div>
                <div class="col col-25">Asst. Principal / Director of Counseling</div>
                <div class="col col-25">pjordan@loyolahs.edu</div>
                <div class="col col-25">1513</div>
            </div>
            ﻿       <div class="row">
                <div class="col col-25">Mrs. Daryl Crowley</div>
                <div class="col col-25">Counselor</div>
                <div class="col col-25">dcrowley@loyolahs.edu</div>
                <div class="col col-25">1501</div>
            </div>
            <div class="row">
                <div class="col col-25"> Mr. Michael Denison</div>
                <div class="col col-25">Counselor</div>
                <div class="col col-25">mdenison@loyolahs.edu</div>
                <div class="col col-25">1502</div>
            </div>
            <div class="row">
                <div class="col col-25">Mr. Kelly Farland</div>
                <div class="col col-25">Counselor</div>
                <div class="col col-25">kfarland@loyolahs.edu</div>
                <div class="col col-25">1503</div>
            </div>
            <div class="row">
                <div class="col col-25">Mr. Thomas Gallagher</div>
                <div class="col col-25">Counselor</div>
                <div class="col col-25">tgallagher@loyolahs.edu</div>
                <div class="col col-25">1201</div>
            </div>
            <div class="row">
                <div class="col col-25">Mr. Timothy Haley</div>
                <div class="col col-25">Counselor</div>
                <div class="col col-25">thaley@loyolahs.edu</div>
                <div class="col col-25">1504</div>
            </div>
            <div class="row">
                <div class="col col-25">Mrs. Yoojin Han</div>
                <div class="col col-25">Counselor</div>
                <div class="col col-25">yhan@loyolahs.edu</div>
                <div class="col col-25">1505</div>
            </div>
            <div class="row">
                <div class="col col-25">Mr. Geoffrey Joy '72</div>
                <div class="col col-25">Counselor</div>
                <div class="col col-25">gjoy@loyolahs.edu</div>
                <div class="col col-25">1506</div>
            </div>
            <div class="row">
                <div class="col col-25">Ms. Gina Liberotti</div>
                <div class="col col-25">Counselor</div>
                <div class="col col-25">gliberotti@loyolahs.edu</div>
                <div class="col col-25">1507</div>
            </div>
            <div class="row">
                <div class="col col-25">Ms. Angela Reno Valvardi</div>
                <div class="col col-25">Counselor</div>
                <div class="col col-25">arenovalvardi@loyolahs.edu</div>
                <div class="col col-25">1519</div>
            </div>
            <div class="row">
                <div class="col col-25">Mr. Jesse Rueter</div>
                <div class="col col-25">Counselor</div>
                <div class="col col-25">jrueter@loyolahs.edu</div>
                <div class="col col-25">1518</div>
            </div>
            <div class="row">
                <div class="col col-25">Mrs. Dele Varga</div>
                <div class="col col-25">Counselor</div>
                <div class="col col-25">dvarga@loyolahs.edu</div>
                <div class="col col-25">1508</div>
            </div>

            <!-- English -->
            <div class="item item-divider biggerhead">
                English Department
            </div>
            <div class="row">
                <div class="col col-25">John Vella '93</div>
                <div class="col col-25">Chair</div>
                <div class="col col-25">jvella@loyolahs.edu</div>
                <div class="col col-25">3073</div>
            </div>
            <div class="row">
                <div class="col col-25">Christine Moore</div>
                <div class="col col-25">Teacher</div>
                <div class="col col-25">calcantar@loyolahs.edu</div>
                <div class="col col-25">3002</div>
            </div>﻿
            <div class="row">
                <div class="col col-25">Mary Arney</div>
                <div class="col col-25">Teacher</div>
                <div class="col col-25">marney@loyolahs.edu</div>
                <div class="col col-25">3004</div>
            </div>﻿
            <div class="row">
                <div class="col col-25">F. Douglas Brown</div>
                <div class="col col-25">Teacher</div>
                <div class="col col-25">fdbrown@loyolahs.edu</div>
                <div class="col col-25">3010</div>
            </div>﻿
            <div class="row">
                <div class="col col-25">Terry Caldwell</div>
                <div class="col col-25">Teacher</div>
                <div class="col col-25">tcaldwell@loyolahs.edu</div>
                <div class="col col-25">3012</div>
            </div>﻿
            <div class="row">
                <div class="col col-25">Karen Jardine</div>
                <div class="col col-25">Teacher</div>
                <div class="col col-25">kjardine@loyolahs.edu</div>
                <div class="col col-25">3033</div>
            </div>﻿
            <div class="row">
                <div class="col col-25">Edwina Lynch</div>
                <div class="col col-25">Teacher</div>
                <div class="col col-25">elynch@loyolahs.edu</div>
                <div class="col col-25">3041</div>
            </div>﻿
            <div class="row">
                <div class="col col-25">Thomas Marsh</div>
                <div class="col col-25">Teacher</div>
                <div class="col col-25">tmarsh@loyolahs.edu</div>
                <div class="col col-25">3043</div>
            </div>﻿
            <div class="row">
                <div class="col col-25">Michael Mason</div>
                <div class="col col-25">Teacher</div>
                <div class="col col-25">mmason@loyolahs.edu</div>
                <div class="col col-25">3045</div>
            </div>﻿
            <div class="row">
                <div class="col col-25">Mathew Pentecost '95</div>
                <div class="col col-25">Teacher</div>
                <div class="col col-25">mpentecost@loyolahs.edu</div>
                <div class="col col-25">3053</div>
            </div>﻿
            <div class="row">
                <div class="col col-25">Daniel Robles '02</div>
                <div class="col col-25">Teacher</div>
                <div class="col col-25">drobles@loyolahs.edu</div>
                <div class="col col-25">3061</div>
            </div>﻿
            <div class="row">
                <div class="col col-25">Jason Schmidt</div>
                <div class="col col-25">Teacher</div>
                <div class="col col-25">jschmidt@loyolahs.edu</div>
                <div class="col col-25">3065</div>
            </div>﻿

            <!-- Events -->
            <div class="item item-divider biggerhead">
                Events
            </div>
            <div class="row">
                <div class="col col-25">Karin Chamberlain</div>
                <div class="col col-25">Director of Events</div>
                <div class="col col-25">kchamberlain@loyolahs.edu</div>
                <div class="col col-25">1306</div>
            </div>﻿
            <div class="row">
                <div class="col col-25">Tom Peck '85</div>
                <div class="col col-25">Event Operations Director</div>
                <div class="col col-25">tpeck@loyolahs.edu</div>
                <div class="col col-25">1314</div>
            </div>﻿
            <div class="row">
                <div class="col col-25">Janie Kuhnmuench</div>
                <div class="col col-25">Advancement Administrative Assistant</div>
                <div class="col col-25">jkuhnmuench@loyolahs.edu</div>
                <div class="col col-25">1311</div>
            </div>﻿
            <div class="row">
                <div class="col col-25">Brandie Barraza</div>
                <div class="col col-25">Advancement Administrative Assistant</div>
                <div class="col col-25">bbarraza@loyolahs.edu</div>
                <div class="col col-25">1305</div>
            </div>﻿

            <div class="item item-divider biggerhead">
                Facilities
            </div>
            <div class="row">
                <div class="col col-25">Michael McDermott</div>
                <div class="col col-25">Sr. Director of Facilities Management</div>
                <div class="col col-25">mmcdermott@loyolahs.edu</div>
                <div class="col col-25">1902</div>
            </div>﻿
            
            <!-- Language -->
            <div class="item item-divider biggerhead">
                Foreign Language
            </div>
            <div class="row">
                <div class="col col-25">Pablo Pedroarias '93</div>
                <div class="col col-25">Chair, Spanish</div>
                <div class="col col-25">ppedroarias@loyolahs.edu</div>
                <div class="col col-25">3052</div>
            </div>﻿
            <div class="row">
                <div class="col col-25">Eric Beuzet</div>
                <div class="col col-25">French</div>
                <div class="col col-25">ebeuzet@loyolahs.edu</div>
                <div class="col col-25">3006</div>
            </div>﻿
            <div class="row">
                <div class="col col-25">Kaitlin Collins</div>
                <div class="col col-25">Spanish</div>
                <div class="col col-25">kcollins@loyolahs.edu</div>
                <div class="col col-25">3099</div>
            </div>﻿
            <div class="row">
                <div class="col col-25">Concepcion Contreras</div>
                <div class="col col-25">Spanish</div>
                <div class="col col-25">ccontreras@loyolahs.edu</div>
                <div class="col col-25">3015</div>
            </div>﻿
            <div class="row">
                <div class="col col-25">Ana De Castro</div>
                <div class="col col-25">Spanish</div>
                <div class="col col-25">adecastro@loyolahs.edu</div>
                <div class="col col-25">3084</div>
            </div>﻿
            <div class="row">
                <div class="col col-25">Cedric Ebiner</div>
                <div class="col col-25">French, Latin</div>
                <div class="col col-25">cebiner@loyolahs.edu</div>
                <div class="col col-25">3019</div>
            </div>﻿
            <div class="row">
                <div class="col col-25">Geri Eckert</div>
                <div class="col col-25">Spanish</div>
                <div class="col col-25">geckert@loyolahs.edu</div>
                <div class="col col-25">3020</div>
            </div>﻿
            <div class="row">
                <div class="col col-25">Teresa Kawamata</div>
                <div class="col col-25">Latin</div>
                <div class="col col-25">tkawamata@loyolahs.edu</div>
                <div class="col col-25">3035</div>
            </div>﻿
            <div class="row">
                <div class="col col-25">Amado Machorro</div>
                <div class="col col-25">Spanish</div>
                <div class="col col-25">amachorro@loyolahs.edu</div>
                <div class="col col-25">3042</div>
            </div>﻿
            <div class="row">
                <div class="col col-25">Michael Mikita</div>
                <div class="col col-25">Mandarin</div>
                <div class="col col-25">mmikita@loyolahs.edu</div>
                <div class="col col-25">3049</div>
            </div>﻿
            <div class="row">
                <div class="col col-25">Ricardo Pedroarias '84</div>
                <div class="col col-25">Spanish</div>
                <div class="col col-25">rpedroarias@loyolahs.edu</div>
                <div class="col col-25">1209</div>
            </div>﻿
            <div class="row">
                <div class="col col-25">Jose Sustaita</div>
                <div class="col col-25">Spanish</div>
                <div class="col col-25">jsustaita@loyolahs.edu</div>
                <div class="col col-25">3068</div>
            </div>﻿

            <!-- Health/PE -->
            <div class="item item-divider biggerhead">
                Health / PE
            </div>
            <div class="row">
                <div class="col col-25">Fernando Hernandez</div>
                <div class="col col-25">Chair</div>
                <div class="col col-25">fhernandez@loyolahs.edu</div>
                <div class="col col-25">3030</div>
            </div>﻿
            <div class="row">
                <div class="col col-25">Mike Cordero</div>
                <div class="col col-25">Teacher</div>
                <div class="col col-25">mcordero@loyolahs.edu</div>
                <div class="col col-25">1705</div>
            </div>﻿
            <div class="row">
                <div class="col col-25">Brad Legant</div>
                <div class="col col-25">Teacher</div>
                <div class="col col-25">blegant@loyolahs.edu</div>
                <div class="col col-25">3038</div>
            </div>﻿
            <div class="row">
                <div class="col col-25">Martin Mays</div>
                <div class="col col-25">Teacher</div>
                <div class="col col-25">mmays@loyolahs.edu</div>
                <div class="col col-25">3088</div>
            </div>﻿
            <div class="row">
                <div class="col col-25">Marvin Sanders</div>
                <div class="col col-25">Teacher</div>
                <div class="col col-25">msanders@loyolahs.edu</div>
                <div class="col col-25">1604</div>
            </div>﻿
            <div class="row">
                <div class="col col-25">Andre Woodert</div>
                <div class="col col-25">Teacher</div>
                <div class="col col-25">awoodert@loyolahs.edu</div>
                <div class="col col-25">3094</div>
            </div>﻿
            
            <!-- IT Services -->
            <div class="item item-divider biggerhead">
                Information Technology Services (ITS)
            </div>
            <div class="row">
                <div class="col col-25">Lauren Lampietti</div>
                <div class="col col-25">Chief Technology Officer</div>
                <div class="col col-25">llampietti@loyolahs.edu</div>
                <div class="col col-25">1400</div>
            </div>﻿
            <div class="row">
                <div class="col col-25">Terence Stephenson</div>
                <div class="col col-25">ITS Manager/Apple Enginee</div>
                <div class="col col-25">tstephenson@loyolahs.edu</div>
                <div class="col col-25">1724</div>
            </div>﻿
            <div class="row">
                <div class="col col-25">Lance Ochsner</div>
                <div class="col col-25">Educational Technologist</div>
                <div class="col col-25">lochsner@loyolahs.edu</div>
                <div class="col col-25">1723</div>
            </div>﻿
            <div class="row">
                <div class="col col-25">Mark Peck</div>
                <div class="col col-25">Senior Network Administrator</div>
                <div class="col col-25">mpeck@loyolahs.edu</div>
                <div class="col col-25">1721</div>
            </div>﻿
            <div class="row">
                <div class="col col-25">Bren Wells</div>
                <div class="col col-25">Applications Analyst</div>
                <div class="col col-25">bwells@loyolahs.edu</div>
                <div class="col col-25">1402</div>
            </div>﻿
            <div class="row">
                <div class="col col-25">Katherine Cullen</div>
                <div class="col col-25">Technology Services Coordinator</div>
                <div class="col col-25">kcullen@loyolahs.edu</div>
                <div class="col col-25">1722</div>
            </div>﻿
            <div class="row">
                <div class="col col-25">Elaine Taylor</div>
                <div class="col col-25">Administrative Assistant</div>
                <div class="col col-25">etaylor@loyolahs.edu</div>
                <div class="col col-25">1401</div>
            </div>﻿

            <!-- Library -->
            <div class="item item-divider biggerhead">
                Library
            </div>
            <div class="row">
                <div class="col col-25">April Hannah</div>
                <div class="col col-25">Director, Academic Information Resources</div>
                <div class="col col-25">ahannah@loyolahs.edu</div>
                <div class="col col-25">1711</div>
            </div>﻿
            <div class="row">
                <div class="col col-25">Stewart Hayes</div>
                <div class="col col-25">Information Resources Technician</div>
                <div class="col col-25">shayes@loyolahs.edu</div>
                <div class="col col-25">1727</div>
            </div>﻿

                <!--  Math  -->
            <div class="item item-divider biggerhead">
                Mathematics
            </div>
            ﻿<div class="row">
                <div class="col col-25">Emily Villa de Rey</div>
                <div class="col col-25">Chair</div>
                <div class="col col-25">evilladerey@loyolahs.edu</div>
                <div class="col col-25">3074</div>
            </div>﻿
            <div class="row">
                <div class="col col-25">Ryan Abramowitz</div>
                <div class="col col-25">Teacher</div>
                <div class="col col-25">rabramowitz@loyolahs.edu</div>
                <div class="col col-25">3000</div>
            </div>﻿
            <div class="row">
                <div class="col col-25">Judy Dell'Amico</div>
                <div class="col col-25">Teacher</div>
                <div class="col col-25">jdellamico@loyolahs.edu</div>
                <div class="col col-25">3017</div>
            </div>﻿
            <div class="row">
                <div class="col col-25">Eli Ess</div>
                <div class="col col-25">Teacher</div>
                <div class="col col-25">eess@loyolahs.edu</div>
                <div class="col col-25">3069</div>
            </div>﻿
            <div class="row">
                <div class="col col-25">Rev. Jerry Hudson, S.J.</div>
                <div class="col col-25">Teacher</div>
                <div class="col col-25">jhudson@loyolahs.edu</div>
                <div class="col col-25">1802</div>
            </div>﻿
            <div class="row">
                <div class="col col-25">Michael Lew '86</div>
                <div class="col col-25">Teacher</div>
                <div class="col col-25">mlew@loyolahs.edu</div>
                <div class="col col-25">3039</div>
            </div>﻿
            <div class="row">
                <div class="col col-25">Andrew Mazur</div>
                <div class="col col-25">Teacher</div>
                <div class="col col-25">amazur@loyolahs.edu</div>
                <div class="col col-25">3100</div>
            </div>﻿
            <div class="row">
                <div class="col col-25">Trevor Mutch '98</div>
                <div class="col col-25">Teacher</div>
                <div class="col col-25">tmutch@loyolahs.edu</div>
                <div class="col col-25">3080</div>
            </div>﻿
            <div class="row">
                <div class="col col-25">Peter Nguyen</div>
                <div class="col col-25">Teacher</div>
                <div class="col col-25">pnguyen@loyolahs.edu</div>
                <div class="col col-25">3081</div>
            </div>﻿
            <div class="row">
                <div class="col col-25">Kelly Nicholson</div>
                <div class="col col-25">Teacher</div>
                <div class="col col-25">knicholson@loyolahs.edu</div>
                <div class="col col-25">3050</div>
            </div>﻿
            <div class="row">
                <div class="col col-25">Paul Pascale '78</div>
                <div class="col col-25">Teacher</div>
                <div class="col col-25">ppascale@loyolahs.edu</div>
                <div class="col col-25">3051</div>
            </div>﻿
            <div class="row">
                <div class="col col-25">Eric Romin</div>
                <div class="col col-25">Teacher</div>
                <div class="col col-25">eromin@loyolahs.edu</div>
                <div class="col col-25">3062</div>
            </div>﻿
            <div class="row">
                <div class="col col-25">Zachary Sandoval</div>
                <div class="col col-25">Teacher</div>
                <div class="col col-25">zsandoval@loyolahs.edu</div>
                <div class="col col-25">3101</div>
            </div>﻿
            <div class="row">
                <div class="col col-25">Susan Torales</div>
                <div class="col col-25">Teacher</div>
                <div class="col col-25">storales@loyolahs.edu</div>
                <div class="col col-25">3048</div>
            </div>﻿
            <div class="row">
                <div class="col col-25">Chris Walter '93</div>
                <div class="col col-25">Teacher</div>
                <div class="col col-25">cwalter@loyolahs.edu</div>
                <div class="col col-25">1515</div>
            </div>﻿
            <div class="row">
                <div class="col col-25">Roger Yano</div>
                <div class="col col-25">Teacher</div>
                <div class="col col-25">ryano@loyolahs.edu</div>
                <div class="col col-25">3077</div>
            </div>﻿

            <!-- Science -->
            <div class="item item-divider biggerhead">
                Science
            </div>
            <div class="row">
                <div class="col col-25">Fawzia Qazi</div>
                <div class="col col-25">Chair</div>
                <div class="col col-25">fqazi@loyolahs.edu</div>
                <div class="col col-25">3058</div>
            </div>﻿
            <div class="row">
                <div class="col col-25">Andrey Aristov '80</div>
                <div class="col col-25">Teacher</div>
                <div class="col col-25">aaristov@loyolahs.edu</div>
                <div class="col col-25">1204</div>
            </div>﻿
            <div class="row">
                <div class="col col-25">Gerry Cacnio '86</div>
                <div class="col col-25">Teacher</div>
                <div class="col col-25">gcacnio@loyolahs.edu</div>
                <div class="col col-25">3011</div>
            </div>﻿
            <div class="row">
                <div class="col col-25">Gary Gatfield</div>
                <div class="col col-25">Teacher</div>
                <div class="col col-25">ggatfield@loyolahs.edu</div>
                <div class="col col-25">3023</div>
            </div>﻿
            <div class="row">
                <div class="col col-25">Robert Gorr</div>
                <div class="col col-25">Teacher</div>
                <div class="col col-25">rgorr@loyolahs.edu</div>
                <div class="col col-25">3025</div>
            </div>﻿
            <div class="row">
                <div class="col col-25">Edward Hairston</div>
                <div class="col col-25">Teacher</div>
                <div class="col col-25">ehairston@loyolahs.edu</div>
                <div class="col col-25">3027</div>
            </div>﻿
            <div class="row">
                <div class="col col-25">Lee Jackson</div>
                <div class="col col-25">Teacher</div>
                <div class="col col-25">ljackson@loyolahs.edu</div>
                <div class="col col-25">1206</div>
            </div>﻿
            <div class="row">
                <div class="col col-25">Michael Lew '86</div>
                <div class="col col-25">Teacher</div>
                <div class="col col-25">mlew@loyolahs.edu</div>
                <div class="col col-25">3039</div>
            </div>﻿
            <div class="row">
                <div class="col col-25">Stefan Menghin</div>
                <div class="col col-25">Teacher</div>
                <div class="col col-25">smenghin@loyolahs.edu</div>
                <div class="col col-25">3089</div>
            </div>﻿
            <div class="row">
                <div class="col col-25">Paul Picard '75</div>
                <div class="col col-25">Teacher</div>
                <div class="col col-25">ppicard@loyolahs.edu</div>
                <div class="col col-25">3055</div>
            </div>﻿
            <div class="row">
                <div class="col col-25">Kimberly Simon</div>
                <div class="col col-25">Teacher</div>
                <div class="col col-25">ksimon@loyolahs.edu</div>
                <div class="col col-25">3031</div>
            </div>﻿
            <div class="row">
                <div class="col col-25">Andrew Uy</div>
                <div class="col col-25">Teacher</div>
                <div class="col col-25">auy@loyolahs.edu</div>
                <div class="col col-25">3072</div>
            </div>﻿

            <!-- History -->
            <div class="item item-divider biggerhead">
                Social Science
            </div>
            <div class="row">
                <div class="col col-25">James Zucker</div>
                <div class="col col-25">Chair</div>
                <div class="col col-25">jzucker@loyolahs.edu</div>
                <div class="col col-25">3078</div>
            </div>﻿﻿
            <div class="row">
                <div class="col col-25">Jamal Adams '90</div>
                <div class="col col-25">Teacher</div>
                <div class="col col-25">jadams@loyolahs.edu</div>
                <div class="col col-25">1615</div>
            </div>﻿﻿
            <div class="row">
                <div class="col col-25">Eduardo Diaz</div>
                <div class="col col-25">Teacher</div>
                <div class="col col-25">ediaz@loyolahs.edu</div>
                <div class="col col-25">3018</div>
            </div>﻿﻿
            <div class="row">
                <div class="col col-25">Thomas Goepel</div>
                <div class="col col-25">Teacher</div>
                <div class="col col-25">tgoepel@loyolahs.edu</div>
                <div class="col col-25">3024</div>
            </div>﻿﻿
            <div class="row">
                <div class="col col-25">Erik Healy</div>
                <div class="col col-25">Teacher</div>
                <div class="col col-25">ehealy@loyolahs.edu</div>
                <div class="col col-25">3028</div>
            </div>﻿﻿
            <div class="row">
                <div class="col col-25">Brian Held '93</div>
                <div class="col col-25">Teacher</div>
                <div class="col col-25">bheld@loyolahs.edu</div>
                <div class="col col-25">3029</div>
            </div>﻿﻿
            <div class="row">
                <div class="col col-25">Kyle Knoll</div>
                <div class="col col-25">Teacher</div>
                <div class="col col-25">kknoll@loyolahs.edu</div>
                <div class="col col-25">3086</div>
            </div>﻿﻿
            <div class="row">
                <div class="col col-25">Levi Line</div>
                <div class="col col-25">Teacher</div>
                <div class="col col-25">lline@loyolahs.edu</div>
                <div class="col col-25">3040</div>
            </div>﻿﻿
            <div class="row">
                <div class="col col-25">Christopher Perkins '07</div>
                <div class="col col-25">Teacher</div>
                <div class="col col-25">cperkins@loyolahs.edu</div>
                <div class="col col-25">3054</div>
            </div>﻿﻿
            <div class="row">
                <div class="col col-25">Michael Porterfield '73</div>
                <div class="col col-25">Teacher</div>
                <div class="col col-25">mporterfield@loyolahs.edu</div>
                <div class="col col-25">3056</div>
            </div>﻿﻿
            <div class="row">
                <div class="col col-25">Casey Quedenfeld</div>
                <div class="col col-25">Teacher</div>
                <div class="col col-25">cquedenfeld@loyolahs.edu</div>
                <div class="col col-25">3091</div>
            </div>﻿﻿
            <div class="row">
                <div class="col col-25">Roger Stewart</div>
                <div class="col col-25">Teacher</div>
                <div class="col col-25">rstewart@loyolahs.edu</div>
                <div class="col col-25">3067</div>
            </div>﻿﻿

            <!-- Staff -->
            <div class="item item-divider biggerhead">
                Staff
            </div>
            <div class="row">
                <div class="col col-25">Mrs. Melinda Wiggins</div>
                <div class="col col-25">Executive Assistant to the President and Coordinator of Board Affairs</div>
                <div class="col col-25">mwiggins@loyolahs.edu</div>
                <div class="col col-25">1301</div>
            </div>﻿﻿
            <div class="row">
                <div class="col col-25">Patricia Randazzo</div>
                <div class="col col-25">Administrative Assistant for Board Affairs</div>
                <div class="col col-25">prandazzo@loyolahs.edu</div>
                <div class="col col-25">1302</div>
            </div>﻿﻿
            <div class="row">
                <div class="col col-25">Barbara Jamison</div>
                <div class="col col-25">Administrative Assistant, Principal</div>
                <div class="col col-25">bjamison@loyolahs.edu</div>
                <div class="col col-25">1207</div>
            </div>﻿﻿
            <div class="row">
                <div class="col col-25">Lisa Abarta</div>
                <div class="col col-25">Executive Assistant to the Executive Director for Advancement</div>
                <div class="col col-25">labarta@loyolahs.edu</div>
                <div class="col col-25">1304</div>
            </div>﻿﻿
            <div class="row">
                <div class="col col-25">Rosie Morales-Penuela</div>
                <div class="col col-25">Registrar</div>
                <div class="col col-25">rmoralespenuela@loyolahs.edu</div>
                <div class="col col-25">1208</div>
            </div>﻿﻿
            <div class="row">
                <div class="col col-25">Logan Dalla Betta</div>
                <div class="col col-25">Administrative Assistant, Dean's Office</div>
                <div class="col col-25">ldallabetta@loyolahs.edu</div>
                <div class="col col-25">1205</div>
            </div>﻿﻿
            <div class="row">
                <div class="col col-25">Diane Arias</div>
                <div class="col col-25">Adminstrative Assistant, Admissions/Summer School</div>
                <div class="col col-25">darias@loyolahs.edu</div>
                <div class="col col-25">1202</div>
            </div>﻿﻿
            <div class="row">
                <div class="col col-25">Pat Salvaty</div>
                <div class="col col-25">Administrative Assistant</div>
                <div class="col col-25">psalvaty@loyolahs.edu</div>
                <div class="col col-25">1514</div>
            </div>﻿﻿
            <div class="row">
                <div class="col col-25">Cindy Cassutt</div>
                <div class="col col-25">Administrative Assistant, Athletics</div>
                <div class="col col-25">ccassutt@loyolahs.edu</div>
                <div class="col col-25">1517</div>
            </div>﻿﻿
            <div class="row">
                <div class="col col-25">Marlena Ludwig</div>
                <div class="col col-25">Administrative Assistant, Counseling</div>
                <div class="col col-25">mludwig@loyolahs.edu</div>
                <div class="col col-25">1509</div>
            </div>﻿﻿
            <div class="row">
                <div class="col col-25">Collette Reitz</div>
                <div class="col col-25">Administrative Assistant, Main Office</div>
                <div class="col col-25">creitz@loyolahs.edu</div>
                <div class="col col-25">1220</div>
            </div>﻿﻿
            <div class="row">
                <div class="col col-25">Stephanie Cardenas</div>
                <div class="col col-25">Employee Services</div>
                <div class="col col-25">scardenas@loyolahs.edu</div>
                <div class="col col-25">1726</div>
            </div>﻿﻿
            <div class="row">
                <div class="col col-25">Brad Legant</div>
                <div class="col col-25">Director of Substitutions</div>
                <div class="col col-25">blegant@loyolahs.edu</div>
                <div class="col col-25">1725</div>
            </div>﻿﻿
            <div class="row">
                <div class="col col-25">Tim Moscicki</div>
                <div class="col col-25">Athletic Trainer</div>
                <div class="col col-25">tmoscicki@loyolahs.edu</div>
                <div class="col col-25">1617</div>
            </div>﻿﻿
            <div class="row">
                <div class="col col-25">Amanda Zamani</div>
                <div class="col col-25">Assistant Athletic Trainer</div>
                <div class="col col-25">azamani@loyolahs.edu</div>
                <div class="col col-25">1616</div>
            </div>﻿﻿
            <div class="row">
                <div class="col col-25">Blanca Falcon</div>
                <div class="col col-25">Cub Corner Manager</div>
                <div class="col col-25">bfalcon@loyolahs.edu</div>
                <div class="col col-25">1803</div>
            </div>﻿﻿
            <div class="row">
                <div class="col col-25">Mike Barnhill</div>
                <div class="col col-25">Magis Moderator</div>
                <div class="col col-25">mbarnhill@loyolahs.edu</div>
                <div class="col col-25">3083</div>
            </div>﻿﻿

            <!-- Summer Session -->
            <div class="item item-divider biggerhead">
                Summer Session
            </div>
            <div class="row">
                <div class="col col-25">Judy Dell'Amico</div>
                <div class="col col-25">Director</div>
                <div class="col col-25">jdellamico@loyolahs.edu</div>
                <div class="col col-25">3017</div>
            </div>﻿
            <div class="row">
                <div class="col col-25">Chris Walter</div>
                <div class="col col-25">Assistant Director</div>
                <div class="col col-25">cwalter@loyolahs.edu</div>
                <div class="col col-25">1515</div>
            </div>﻿
            <div class="row">
                <div class="col col-25">Evelyn Mabra</div>
                <div class="col col-25">Dean</div>
                <div class="col col-25">emabra@loyolahs.edu</div>
                <div class="col col-25">1701</div>
            </div>﻿
            <div class="row">
                <div class="col col-25">Diane Arias</div>
                <div class="col col-25">Administrative Assistant</div>
                <div class="col col-25">darias@loyolahs.edu</div>
                <div class="col col-25">1202</div>
            </div>﻿
            
            <!-- Theology -->
            <div class="item item-divider biggerhead">
                Theology
            </div>
            ﻿<div class="row">
                <div class="col col-25">Derek Brown</div>
                <div class="col col-25">Chair</div>
                <div class="col col-25">dbrown@loyolahs.edu</div>
                <div class="col col-25">3009</div>
            </div>﻿
            <div class="row">
                <div class="col col-25">Thomas Cendejas</div>
                <div class="col col-25">Teacher</div>
                <div class="col col-25">tcendejas@loyolahs.edu</div>
                <div class="col col-25">3014</div>
            </div>﻿
            <div class="row">
                <div class="col col-25">James Crofut</div>
                <div class="col col-25">Teacher</div>
                <div class="col col-25">jcrofut@loyolahs.edu</div>
                <div class="col col-25">3016</div>
            </div>﻿
            <div class="row">
                <div class="col col-25">Jerry Frumento '79</div>
                <div class="col col-25">(On Sabbatical)</div>
                <div class="col col-25">jfrumento@loyolahs.edu</div>
                <div class="col col-25">3022</div>
            </div>﻿
            <div class="row">
                <div class="col col-25">Scott Johnson</div>
                <div class="col col-25">Teacher</div>
                <div class="col col-25">sjohnson@loyolahs.edu</div>
                <div class="col col-25">3034</div>
            </div>﻿
            <div class="row">
                <div class="col col-25">Jack Krouse, S.J.</div>
                <div class="col col-25">Teacher</div>
                <div class="col col-25">jkrouse@loyolahs.edu</div>
                <div class="col col-25">3087</div>
            </div>﻿
            <div class="row">
                <div class="col col-25">Tika Lee</div>
                <div class="col col-25">Teacher</div>
                <div class="col col-25">tlee@loyolahs.edu</div>
                <div class="col col-25">3037</div>
            </div>﻿
            <div class="row">
                <div class="col col-25">Thomas Portman</div>
                <div class="col col-25">Teacher</div>
                <div class="col col-25">tportman@loyolahs.edu</div>
                <div class="col col-25">3057</div>
            </div>﻿
            <div class="row">
                <div class="col col-25">Jesse Rodriguez, Ed.D.</div>
                <div class="col col-25">Teacher</div>
                <div class="col col-25">jrodriguez@loyolahs.edu</div>
                <div class="col col-25">3082</div>
            </div>﻿
            <div class="row">
                <div class="col col-25">Matthew Schaeffer</div>
                <div class="col col-25">Teacher</div>
                <div class="col col-25">mschaeffer@loyolahs.edu</div>
                <div class="col col-25">1702</div>
            </div>﻿
            <div class="row">
                <div class="col col-25">Michael Shawver</div>
                <div class="col col-25">Teacher</div>
                <div class="col col-25">mshawver@loyolahs.edu</div>
                <div class="col col-25">1703</div>
            </div>﻿

           <!--
            <div class="row">
                <div class="col col-25">WOOOOOORDS</div>
                <div class="col col-25">WOOOOOOOOOOOOORDS</div>
                <div class="col col-25">WOOOOOOOOOOOOOOORDS</div>
                <div class="col col-25">WWWWWWWOOOOOOOOORDS</div>
            </div>﻿

            
               -->

    </div>
</ion-content>
</ion-view>