<ion-view view-title="STOPit">
    <ion-content>

        <div class="card" style="margin-top:50%;">
            <div class="item item-text-wrap">
                STOPit enables Loyola students to <b>instantly</b> and <b>anonymously</b> share concerns about other students with school administrators who can help resolve these issues.  If you have noticed unusual or unsettling behavior by another student, please do not hesitate to use this platform to let Loyola know in order to keep that student safe.
                <br />
                <br />
                Below is printed the code to access STOPit from either its web app or mobile app.
            </div>
        </div>

        <div class="card">
            <div class="item item-text-wrap" id="disp">
                Access Code: 1901venice
            </div>
        </div>

        <button class="button button-block button-balanced" ng-click="openStopIt(0)" id="gpabut">
            Use STOPit Now
        </button>
        <br />
        <button class="button button-block button-royal" ng-click="openStopIt(1)" id="gpabut">
            Download App
        </button>

        <!--<div class="button-bar">
            <a class="button {{ bellcol2 }}" ng-click="openStopIt(1)">Download for iPhone</a>
        </div>
        <div class="button-bar">
            <a class="button {{ bellcol1 }}" ng-click="openStopIt(2)">Download for Android</a>
        </div>-->

</ion-content>
</ion-view>