<ion-tabs class="tabs-icon-top tabs-positive">
    <ion-tab title="Loyalist" icon-on="ion-ios-paper" icon-off="ion-ios-paper-outline" href="#/app/loyalist">
        <ion-nav-view name="loyalist-tab"></ion-nav-view>
    </ion-tab>

    <ion-tab title="Cub Tools" icon-on="ion-settings" icon-off="ion-settings" href="#/app/main">
        <ion-nav-view name="main-tab"></ion-nav-view>
    </ion-tab>

    <ion-tab title="Loyola Chat" icon-on="ion-ios-chatboxes" icon-off="ion-ios-chatboxes-outline" href="#/app/loyolaChat">
        <ion-nav-view name="loyolaChat-tab"></ion-nav-view>
    </ion-tab>
</ion-tabs> 